
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{ "build/js/main.min.js" | prepend: site.baseurl }}"></script>
	{% if page.page == 'contact' %}<script src="{{ "build/js/contato.min.js" | prepend: site.baseurl }}"></script>{% endif %}
	
	<script defer>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=0;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '{{ site.analytics }}', 'auto');
		ga('send', 'pageview');
	</script>
	
	{% if page.layout == 'post' %}
	<script defer>
		var disqus_shortname = 'raank';
		(function($) {
			var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = false;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			$(window).load(function() {
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			});
		})(jQuery);
	</script>
	{% endif %}
