
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.lazyload,
.lazyloading {
    opacity: 0;
    transition: opacity 500ms;
}
.lazyloaded {
    opacity: 1;
}

.loading {
	background: url('../images/ico_loading.gif') no-repeat center center;
}

.content-absolute {
	position: absolute;
	width: 100%;
	left: 0;
	&.left { left: 0; }
	&.bottom { bottom: 0; }
	&.top { top: 0; }
	&.right { right: 0; }
}