
%fluid {
	width: 100%;
	float: left;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

body {
	min-width: 992px;
	color: $cloud;
	font: {
		size: 14px;
		family: "Ubuntu Mono";
	}
	speak: none;
	-webkit-font-smoothing: antialiased;
	-webkit-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}

img {
	border: none;
	outline: none;
}

a, a:hover, a:focus, a:visited, a:active {
	outline: 0;
	text-decoration: none;
}

ul, ol {
	padding: 0;
	margin: 0;
	display: inline-block;
	li {
		display: inline-block;
		list-style: none;
	}
}

object {
	display: none;
}

.image-full {
	@extend %fluid;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -1;
	background: {
		position: 0 top;
		repeat: no-repeat;
	}
	@media (max-width: 480px) {
		background-position: center center;
	}
}

#svg-filter { display: none; }

.about-me {
	width: 300px;
	padding: 70px 20px;
	position: absolute;
	left: 100px;
	top: 85px;
	height: auto;
	overflow: hidden;
	border-top: 1px solid rgba(255,255,255,0.1);
	&:after, &:before {
		content: "";
		width: 110%;
		height: 110%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		margin: -5% -5% 0;
		// filter: url(#svg-filter);
		filter: blur(3px);
	}
	&:before {
		background: {
			image: url('../images/1.jpg');
			position: -100px -75px;
			repeat: no-repeat;
		}
	}
	&:after {
		background-color: rgba(0,0,0,0.4);
	}
	@media (max-width: 480px) {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		max-height: 315px;
		&:before {
			background-position: center center;
		}
	}
}

.about-image {
	@extend %fluid;
	height: 100px;
	text-align: center;
	z-index: 4;
	img {
		width: 100px;
		height: 100px;
		border: 5px solid rgba(255,255,255,0.1);
		border-left-color: rgba(255,255,255,0.3);
		border-right-color: rgba(255,255,255,0.3);
		border-radius: 50%;
		display: inline-block;
	}
}

.about-content {
	h1 {
		@extend %fluid;
		color: $cloud;
		margin: 10px 0;
		text:{
			align: center;
			transform: uppercase;
		}
		font: {
			size: 12px;
			weight: 400;
		}
	}
	nav, ul {
		@extend %fluid;
		text-align: center;
	}
	li {
		display: inline-block;
		a {
			color: $nephritis;
			text-transform: uppercase;
			font: {
				size: 12px;
				weight: 400;
			}
			@media (max-width: 480px) {
				font-size: 14px;
			}
			&:hover, &:focus {
				color: $emerald;
			}
		}
	}
	.email {
		@extend %fluid;
		text-align: center;
		color: $cloud;
		margin: 10px 0 0;
	}
}

.rights-img {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 15px;
	font-size: 10px;
	a {
		color: $nephritis;
		font: {
			size: 12px;
			weight: 400;
		}
		&:hover, &:focus {
			color: $emerald;
		}
	}
	@media (max-width: 480px) {
		width: 100%;
		float: left;
		text-align: center;
	}
}