/* Coolors Exported Palette - coolors.co/43cea2-176f9e-ffffff-303030-999999 */

$color1: #43cea2; // gradient right
$color2: #176f9e; // gradient left 
$color3: #ffffff; // background
$color4: #303030; // text
$color5: #999999; // text att