
// based on: http://flatuicolors.com/
$cloud:		#ecf0f1;
$silver:	#bdc3c7;

$concrete:	#95a5a6;
$asbestos:	#7f8c8d;

$petter:	#3498db;
$belize:	#2980b9;

$nephritis:	#27ae60;
$emerald:	#2ecc71;

$wet:		#34495e;
$midnight:	#2c3e50;
