
.col-form {
	form {
		&, .input-text,
		.input-text input,
		.input-text textarea {
			width: 100%;
			float: left;
		}
		.input-text {
			padding: 5px;
			margin: 5px 0;
			@extend %raank-gradient;
			input, textarea {
				&, &:focus {
					border: none;
				}
				&:focus {
					outline: 1px solid rgba(0,0,0,0.3);
				}
			}
			input {
				padding: 5px 10px;
			}
			textarea {
				padding: 5px 2px 2px 10px;
			}
		}
		.input-submit {
			width: 100%;
			float: left;
			input {
				padding: 5px 10px;
				background: $color1;
				color: $color3;
				float: right;
				&:hover, &:focus {
					border: none;
					outline: none;
					background: $color2;
				}
			}
		}
	}
}

.col-infos {
	h2, ul, li {
		width: 100%;
		float: left;
	}
	h2 {
		margin: 0 0 15px;
		font: {
			size: 26px;
			weight: 300;
		}
	}
	li {
		height: 32px;
		line-height: 32px;
		font: {
			size: 16px;
			weight: 300;
		}
		span {
			float: left;
			width: 32px;
			height: 32px;
			line-height: 32px;
			font: {
				size: 22px;
			}
		}
	}
}

.message-contact {
	margin-top: 20px;
	p {
		margin: 0;
	}
}