.main-site {
	width: 100%;
	float: left;
	height: auto;
	@include transition-standard;
	.page-fluid & {
		padding: 32px;
		@media (min-width: $screen-lg-min) {
			padding: 32px;
		}
		@media (max-width: $screen-md-min) {
			padding: 20px;
		}
		@media (max-width: $screen-sm-min) {
			padding: 0;
		}
	}
	.container-fluid, .container {
		max-width: 1280px;
	}
}

.section-page {
	width: 100%;
	float: left;
	position: relative;
	float: left;
	background-color: transparent;
	background: #fff;
	border: 10px solid #fff;
	opacity: 0;
	@include transition-standard;
	.loaded & {
		opacity: 1;
	}
}

.polygon {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	.ms-left, .ms-right {
		height: 100%;
		width: 100%;
		position: fixed;
	}
	&-full {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}

.section-page-top {
	width: 100%;
	height: 300px;
	display: table;
	text-align: center;
	opacity: 0;
	position: relative;
	background: {
		position: center center;
		repeat: no-repeat;
	}
	@include transition-standard;
	.page-post & {
		text-align: left;
	}
	.full-img {
		position: absolute;
		left: 0;
		top: 0;
	}
	.loaded & {
		opacity: 1;
	}
	h1, p {
		text-align: center;
		margin: 5px 0;
		z-index: 2;
		position: relative;
		.page-post & {
			text-align: left;
		}
	}
	h1 {
		line-height: 36px;
		color: $color3;
		font: {
			size: 36px;
			weight: 300;
		}
	}
	p {
		line-height: 20px;
		color: $color3;
		font: {
			size: 16px;
			weight: 300;
		}
	}
	.middle {
		// display: table-cell;
		// vertical-align: middle;
		// @media (max-width: 430px) {
		// 	padding: 0 15px;
		// }
		position: absolute;
		bottom: 0;
	}
	.centered {
		margin: auto;
		width: 100%;
		padding: 30px;
		overflow: hidden;
		float: left;
		position: relative;
		.full-img-secondary {
			background: {
				position: center center;
				repeat: no-repeat;
			}
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			filter: blur(5px);
		}
		&:after {
			@extend %raank-gradient;
			content: "";
			position: absolute;
			left: -20%;
			top: -20%;
			width: 140%;
			height: 140%;
			z-index: 1;
			opacity: 0.6;
		}
	}
}